body {
  font-family: "Montserrat";
  color: #41404a;
}
nav a {
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  border: solid #41404a 1px;
}
nav a:hover {
  border-color: #4ec1ec;
}
a {
  color: #11163d;
}
a:hover {
  color: #4ec1ec;
}
.logo {
  width: 225px;
  height: 90px;
  background-image: url("/static/cybertec_logo_225x90px.jpg");
}
