:root {
  --color-light: #4ec1ec;
  --color-dark: #41404a;
  --color-error: #c50010;
  --spacing: 4px;
}

body {
  font-family: "Montserrat";
  margin: 0;
  color: var(--color-dark);
}
.content {
  margin: var(--spacing);
}

code {
  font-size: 1rem;
}

a,
input[type="submit"] {
  text-decoration: none;
  padding: var(--spacing);
  border: solid 1px;
  border-color: currentColor;
  display: inline-block;
  color: var(--color-dark);
}

a:hover,
input[type="submit"]:hover {
  color: var(--color-light);
}

.badge {
  border: 1px solid;
  border-radius: var(--spacing);
  border-color: currentColor;
  padding: var(--spacing);
}

.button {
  border: 1px solid;
  border-color: currentColor;
  color: var(--color-dark);
  background: #f0f0f0;
}

.button:hover {
  color: var(--color-light);
}

.margin-bottom {
  margin-bottom: 4px;
}

/*
 HEADER
*/

.header {
  display: flex;
  padding: 8px;
  align-items: center;
  height: 48px;
}

.header nav {
  margin-left: 8px;
}

.logo {
  height: 100%;
}

/*
TABLE
*/

table.table {
  border: 1px solid var(--color-dark);
  text-align: center;
  border-collapse: collapse;
}
table.table td,
table.table th {
  border: 1px solid var(--color-dark);
  padding: var(--spacing) var(--spacing);
}

table.table thead {
  color: var(--color-dark);
}
table.table thead th {
  font-size: 15px;
  font-weight: bold;
  color: var(--color-dark);
  text-align: center;
  border: 1px solid currentColor;
}
table.table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-dark);
  border-top: 3px solid var(--color-dark);
}
table.table tfoot td {
  font-size: 14px;
}

/*
task
*/

.task-chain {
  display: flex;
  gap: var(--spacing);
}

.task {
  outline: 1px solid;
  padding: 8px;
  max-width: 600px;
}

.task .actions {
  padding: var(--spacing);
  border-bottom: var(--color-dark) 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task .body {
}

.error {
  color: var(--color-error);
  border-width: 2px;
}

.ok {
  color: var(--color-light);
}

.task .body .parameter {
  display: flex;
  flex-wrap: wrap;
}

.task .body .parameter > * {
  margin: var(--spacing);
}

.task .body .parameter-add,
.task-chain .add-task > a {
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.task-chain .add-task {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
LIST CHAINS
*/

.list-chains {
  display: flex;
  gap: var(--spacing);
}

.chain {
  padding: var(--spacing);
}

/*
view logs
*/

.logs-header {
  display: flex;
  gap: var(--spacing);
  margin: var(--spacing);
}

.logs-header > * {
  margin: 0;
}
