    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/cybertec-header.jpg">
      <div class="logo">
        <a href="/" class="simple-text logo-normal">
          <img src="/static/assets/img/logo.svg">
        </a>
      </div>

      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/chain_execution_config/">
              <i class="material-icons">E</i>
              <p>Execution configs</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/tasks/">
              <i class="material-icons">T</i>
              <p>Tasks</p>
            </a>
          </li>


          <li class="nav-item ">
            <a class="nav-link" href="/db_connections/">
              <i class="material-icons">connection</i>
              <p>DB connections</p>
            </a>
          </li>

        </ul>
      </div>


    </div>
