{% extends "base.html" %}
{% block body %}
                <form action = "." method = "post">
                   <p><label for="task_id">task id: </label><select id="task_id" name="task_id">
                           {% for t in tasks %}
			   <option {% if obj.task_id == t.task_id %}selected {% endif %}value="{{ t.task_id }}">{{ t.task_id }}. {{ t.task_name }}</option>
                           {% endfor %}
                   </select></p>
		   <p><label for="run_uid">run uid: </label><input type="text" id="run_uid" name="run_uid" value="{{ obj.run_uid if obj.run_uid is not none}}"/></p>
		   <p><label for="database_connection">database connection: </label><input type="text" id="database_connection" name="database_connection" value="{{ obj.database_connection if obj.database_connection is not none }}"/></p>
		   <p><label for="ignore_error">ignore error: </label><input type="checkbox" id="ignore_error" {% if obj.ignore_error %}checked {% endif %}name="ignore_error"/></p>
                   <p><input type="submit" value="submit" /></p>
                </form>
{% endblock %}
