{% extends "base.html" %}
{% block body %}
<div>
        <form action = "." method = "post">
           <p><label for="order_id">order id: </label><input type="number" min="1" id="order_id" name="order_id" value="{{ obj.order_id if obj.order_id is not none }}"/></p>
	   <p><label for="value">value: </label><input type="text" id="value" name="value" value="{{ obj.value if obj.value is not none }}"/></p>
           <p><input type="submit" value="submit" /></p>
        </form>
</div>
{% endblock %}
