{% extends "base.html" %} {% block body %}

<div class="margin-bottom">
  <a class="button" href="/chain_execution_config/add/">ADD new chain</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>is live</th>
      <th>schedule</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in list %}
    <tr>
      <td>{{ obj.chain_name }}</td>
      <td><span>{{ '✓' if obj.live else '✕' }}</span></td>
      <td>
        <code>
          <span
            >{{ obj.run_at_minute if obj.run_at_minute is not none else '*'
            }}</span
          >
          <span
            >{{ obj.run_at_hour if obj.run_at_hour is not none else '*' }}</span
          >
          <span
            >{{ obj.run_at_day if obj.run_at_day is not none else '*' }}</span
          >
          <span
            >{{ obj.run_at_month if obj.run_at_month is not none else '*'
            }}</span
          >
          <span
            >{{ obj.run_at_day_of_week if obj.run_at_day_of_week is not none
            else '*' }}</span
          >
        </code>
      </td>
      <td>
        <div>
          <p>
            <a href="/chain_execution_config/{{ obj.chain_execution_config }}/"
              >View</a
            >
            <a href="/execution_log/{{ obj.chain_execution_config }}/">Logs</a>
          </p>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
