{% extends "base.html" %}
{% block body %}
<div>
	<div style="display: flex; gap: 4px;">
		<h2 style="margin:0;">
			Chain <span>#{{ obj.chain_id }}</span> <span>{{ "@" + obj.client_name if obj.client_name is not none else "" }}</span>: <span>{{ obj.chain_name }}</span>
		</h2>
		{% if obj.live %}
		<div class="badge ok">LIVE</div>
		{% else %}
		<div class="badge error">NOT LIVE</div>
		{% endif%}
		<a href="/chain_execution_config/{{ obj.chain_execution_config }}/edit/">Edit</a>
		<a href="/execution_log/{{ obj.chain_execution_config }}/">Logs</a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>client name</td>
				<td>{{ obj.client_name if obj.client_name is not none }}</td>
			</tr>
			<tr>
				<td>Schedule (cron)</td>
				<td>
					<code>
						{{ obj.run_at_minute if obj.run_at_minute is not none else '*' }}
						{{ obj.run_at_hour if obj.run_at_hour is not none else '*' }}
						{{ obj.run_at_day if obj.run_at_day is not none else '*' }}
						{{ obj.run_at_month if obj.run_at_month is not none else '*' }}
						{{ obj.run_at_day_of_week if obj.run_at_day_of_week is not none else '*' }}
					</code>
				</td>
			</tr>
			<tr>
				<td>max instances</td>
				<td>{{ obj.max_instances if obj.max_instances is not none }}</td>
			</tr>
				<td>
					self-destructive
				</td>
				<td>{{ '✓' if obj.self_destructive else '✕'}}</td>
				</p>
			<tr>
				<td>exclusive execution</td>
				<td>{{ '✓' if obj.exclusive_execution else '✕'}}</td>
			</tr>
			<tr>
				<td>excluded_execution_configs</td>
				<td>{{ obj.excluded_execution_configs if obj.excluded_execution_configs is not none }}</td>
			</tr>
		</tbody>
	</table>

	<h4>
		Tasks
	</h4>
	<div class="col-md-5">
		{% with %}
		{% set chain_execution_config = obj.chain_execution_config %}
		{% set obj = obj.chain %}
		{% include 'view_chain_tpl.html' %}
		{% endwith %}
	</div>
</div>
{% endblock %}
