{% if obj.chain_id %}
<div class="task">
  <div class="actions">
    <div>
      <span class="badge">ID {{obj.chain_id }}</span>
      <a class="badge" href="/task/{{ obj.task.task_id }}/"
        >Type
        <code>
          {{ obj.task.task_name }}
        </code>
      </a>
    </div>
    <a href="/chain/{{ obj.chain_execution_config }}/{{ obj.chain_id }}/edit/"
      >Edit</a
    >
    <a href="/chain/{{ obj.chain_execution_config }}/{{ obj.chain_id }}/delete/"
      >Delete</a
    >
  </div>
  <div class="body">
    <p title="In which user context this task should be run">
      {% if obj.database_connection is not none %} run uid: {{ obj.run_uid }} {%
      else %} No UID set {% endif %}
    </p>
    <p title="Which database connection should be used">
      {% if obj.database_connection is not none %} database connection: {{
      obj.database_connection }} {% else %} No special database connection {%
      endif %}
    </p>
    <p>
      {% if obj.ignore_error %} Ignores errors {% else %} Stops on error {%
      endif %}
    </p>
    <div>
      Parameters:
      <div class="parameter">
        {% with %} {% set ns = namespace (max_order = 0) %} {% for p in
        obj.parameters %} {% set ns.max_order = ([ns.max_order,
        p.order_id]|sort)[-1] %}
        <a
          class="badge"
          href="/chain_execution_parameters/{{ p.chain_execution_config }}/{{ p.chain_id }}/{{ p.order_id }}/edit/"
          ><code>
            {{ p.value|string|truncate(100)}}
          </code>
        </a>
        {% endfor %}
        <a
          class="parameter-add"
          href="/chain_execution_parameters/{{ chain_execution_config }}/{{ obj.chain_id }}/{{ ns.max_order + 1 }}/add/"
          >+</a
        >
      </div>
    </div>
    {% endwith %}
  </div>
</div>
<div class="add-task">
  <a href="/chain/{{ obj.chain_execution_config }}/{{ obj.chain_id }}/add/"
    >+</a
  >
</div>
{% with %} {% set obj = obj.next %} {% include 'view_chain_tpl.html' %} {%
endwith %} {% endif %}
