name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        go-version: 1.12
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        path: go/src/github.com/cybertec-postgresql/pg_timetable
        fetch-depth: 1

    - name: Get dependencies
      run: |
        export GOPATH=/home/runner/work/pg_timetable/go
        go get -v -t -d ./...
        echo
        echo "-- Environment variables ----------------------------------------------"
        env
        echo "-----------------------------------------------------------------------"

    - name: Build
      run: |
        export GOPATH=/home/runner/work/pg_timetable/go
        go build -v .

    - name: Vet
      run: |
        export GOPATH=/home/runner/work/pg_timetable/go
        go vet ./...

    - name: Lint
      run: |
        export GOPATH=/home/runner/work/pg_timetable/go
        go get -u golang.org/x/lint/golint
        golint ./...        