name: Release
on:
  push:
    branches-ignore:
      - '*'
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
jobs:

  goreleaser:
    if: false # false to skip job during debug
    runs-on: ubuntu-latest
    name: goreleaser
    steps:

    - name: Set up Golang
      uses: actions/setup-go@v2
      with:
        go-version: '1.17'

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Unshallow
      run: git fetch --prune --unshallow

    - name: Release via goreleaser
      uses: goreleaser/goreleaser-action@master
      with:
        args: release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  docker:
    if: true # false to skip job during debug
    runs-on: ubuntu-latest
    steps:
        
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Version strings
      id: version
      run: |
        echo "::set-output name=RELEASE_VERSION::$(echo "$GITHUB_REF_NAME#${GITHUB_SHA:0:6}")"
        echo "::set-output name=RELEASE_TIME::$(git show -s --format=%cI HEAD)"        

    - name: Check arguments
      env:
        VERSION: ${{ github.ref_name }}
        COMMIT: ${{ github.sha }}
        DATE: ${{ steps.version.outputs.RELEASE_TIME }}       
      run: |
        echo "$VERSION | $COMMIT | $DATE"

    # - name: Publish to Registry
    #   uses: elgohr/Publish-Docker-Github-Action@master
    #   env:
    #     VERSION: ${{ github.ref_name }}
    #     COMMIT: ${{ github.sha }}
    #     DATE: ${{ steps.version.outputs.RELEASE_TIME }}       
    #   with:
    #     name: cybertecpostgresql/pg_timetable
    #     username: ${{ secrets.DOCKER_USERNAME }}
    #     password: ${{ secrets.DOCKER_PASSWORD }}
    #     buildargs: VERSION,COMMIT,DATE
    #     tag_semver: true